  @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

*{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
}
h1{
    font-size: 36px;
    color: rgb(219, 86, 86);
}
ul{
    list-style: none;
}
a{
    /* background-color: rgb(234, 234, 133); */
    background-color: rgb(219, 86, 86,0.3);
    color: black;
}
img{
    width: 250px;
    height: auto;
    border-radius: 15px;
}
#note p, #note a{
    color: rgb(124, 92, 92);
    font-size: 20px;
}