@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #111427;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
h1 {
    font-size: 200px;
    color: #FFFEFD;
    margin: 50px 0;
}
h1 span{
    display: block;
    color: #FF6288;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.photo{
    width: 538px;
    height: 600px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_ice_cream{
    width: 280px;
    height: 660px;
    position: absolute;
    bottom: 0;
}
 .img_ellipse{
    position: absolute;
    z-index: -1;
    align-self: flex-end;
    bottom: 0;
}

.recipes_list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.recipes_list li{
    font-size: 45px;
    font-weight: bold;
}
.recipes_list li a{
    position: relative;
    text-decoration: none;
    color: #FFFEFD;
    transform: translate(-50%, -50%);

}
.recipes_list li a div{
    position: absolute;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 120px;
    top: 80%;
    margin-left: 50px;
    background-color: #FF6288;
    z-index: -1;
    border-radius: 5px;
    transition: all 0.3s;
}
.recipes_list li a:hover div{
    height: 40px;
    width: 120px;
    top: 50%;
}

.properties_list {
   display: flex;
   list-style: none;
   justify-content: space-between;
   align-items: flex-end;
   
}
.properties_list li{    
    color: #FFFEFD;
    font-size: 24px;
    font-weight: 400;
    z-index: 3;
    padding: 0 10px;
}