@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
}
body{
    background-color: #111427;
}
.right_side{
    width: 538px;
    box-sizing: border-box;
    
}
.img1{
    width: 600px;
    height: 600px;
    position: absolute;
    right: 50px;
    bottom: 0;
    z-index: 1;
 
}
.img2{
    width: 280px;
    height: 660px;
    position: absolute;
    right: 200px;
    bottom: 0;
    z-index: 2;
 
}
h1 {
    font-size: 200px;
    color: #FFFEFD;
    margin: 70px;
}
h1 span{
    width: 859px;
    display: block;
    color: #FF6288;
}
.recipes_list {
    list-style-type: none;
    display: flex;
    text-decoration: none;
}
.recipes_list li{
    font-size: 45px;
    margin-left: 100px;
    font-weight: bold;
}
.recipes_list li a{
    position: relative;
    text-decoration: none;
    color: #FFFEFD;
    transform: translate(-50%, -50%);

}
.recipes_list li a div{
    position: absolute;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 120px;
    top: 80%;
    margin-left: 50px;
    background-color: #FF6288;
    z-index: -1;
    border-radius: 5px;
    transition: all 0.3s;
}
.recipes_list li a:hover div{
    height: 40px;
    width: 120px;
    top: 50%;
}

.properties_list{
    margin-left: 40px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 150px;
}
.properties_list li{    
    color: #FFFEFD;
    font-size: 24px;
    font-weight: 400;
    z-index: 3;
}