@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    color: #FFFEFD;
    margin-left:10px ;
}
body{
    background-color: #111427;
}
h1{
    color:  #FF6288;
    font-size: 100px;
    
}
.content{
    margin-bottom: 10%;
}
h2{
    color:  #FF6288;
    font-size: 50px;
}
img{
    position: absolute;
    top: 0;
    right: -10px;
    margin: 0 10px 10px 0;
    width: 50%;
    height: 600px;
    border-radius: 5px;
}
ol{
    list-style-position:inside;
}
ul{
    list-style-type: none;
}
p{
    width: 40%;
}
li,p{
    font-size: 50px;
    font-weight: 500;
}

